<%= form_for(@friend) do |f| %>
  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field row">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true %>
    </div>
    <div class="field row">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="field row">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="field row">
      <%= f.label :users %>
      <%= f.select(:users,
                   options_for_select(@params[:all_users], @params[:user_friends]),
                   {},
                   {multiple: true, style: 'height: auto'}) %>
    </div><br>

  <div class="actions row">
    <%= f.submit params[:action] == 'edit' ? 'Apply' : 'Add Friend', {:class => 'medium round button', 'data-inline' => :true} %>
  </div>
<% end %>
