<script>
    $(document).ready(function () {
        //$('#friends_table').DataTable();
    });
</script>

<div data-role="header">
  <p id="notice"><%= notice %></p>

  <h1>Approved Friends</h1>
</div>

<div role="main" class="ui-content">
  <table data-role="table" data-mode="reflow" class="friends-list ui-responsive" id="friends_table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
    </tr>
    </thead>

    <tbody>
    <% @friends.each do |friend| %>
        <tr>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= link_to friend.email, friend %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br/>
  <%= link_to 'Create a new friend', new_friend_path %>
</div>