<div class="row">
  <h1>Approved Friend</h1>
  <ul>
    <li>First Name: <%= @friend.first_name %></li>
    <li>Last Name: <%= @friend.last_name %></li>
    <li>Email: <%= @friend.email %></li>
    <br>

    <p>Users: <%= @friend.users.empty? ? "none" : "" %></p>
    <% unless @friend.users.empty? %>
        <ul>
          <% @friend.users.each do |user| %>
              <li><%= user.email %></li>
          <% end %>
        </ul>
    <% end %>
  </ul>
</div>
