<%= form_for(@email) do |f| %>
    <% if @email.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

          <ul>
            <% @email.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="actions row">
      <%= f.submit 'Send', {:class => 'medium round button'} %>
    </div>
    <div class="field row">
      <%= f.label :to %>
      <%= f.select(:to, options_for_select(@params[:friends], @params[:recipients]), {}, {multiple: true, style: 'height: auto'}) %>
    </div>
    <div class="field row">
      <%= f.label :subject %>
      <%= f.text_field :subject, :value => @params[:subject] %>
    </div>
    <div class="field row">
      <%= f.label :message %>
      <%= f.text_area :message, :value => @params[:reply_text], :autofocus => @params[:is_reply] %>
    </div>
    <br>
    <div class="field row">
      <%= f.label :picture, 'Picture (optional):' %>
      <%= f.file_field :picture, accept: 'image/gif,image/jpeg' %>
    </div>
    <br>
    <div class="actions row">
      <%= f.submit 'Send', {:class => 'medium round button'} %>
    </div>
<% end %>

<script>
    // set textareas to auto resize
    function h(e) {
        $(e).css({'height': 'auto', 'overflow-y': 'hidden'}).height(e.scrollHeight);
    }
    $('textarea').each(function () {
        h(this);
    }).on('input', function () {
        h(this);
    });
</script>
