<div role="main" class="ui-content">
  <h2><%= current_user.email %></h2>
  <%= link_to 'Compose a message', new_email_path, :class => 'ui-btn ui-btn-inline ui-corner-all' %>
  <%= link_to 'Check for new messages', refresh_emails_path, :class => 'ui-btn ui-btn-inline ui-corner-all' %>

  <div id="inbox" data-role="collapsible">
    <h3>Inbox (<%= @emails[:inbox].size %>)</h3>
    <table data-role="table" data-mode="reflow" id="inbox-table" class="emails-list ui-responsive">
      <thead>
      <tr>
        <th>Date</th>
        <th>From</th>
        <th>Subject</th>
      </tr>
      </thead>

      <tbody>
      <% @emails[:inbox].each do |email| %>
          <tr>
            <td><%= email.friendly_date %></td>
            <td><%= email.from %></td>
            <td><%= link_to email.subject, email %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="sent" data-role="collapsible">
    <h3>Sent (<%= @emails[:sent].size %>)</h3>
    <table data-role="table" data-mode="reflow" id="sent-table" class="emails-list ui-responsive">
      <thead>
      <tr>
        <th>Date</th>
        <th>To</th>
        <th>Subject</th>
      </tr>
      </thead>

      <tbody>
      <% @emails[:sent].each do |email| %>
          <tr>
            <td><%= email.friendly_date %></td>
            <td><%= email.to %></td>
            <td><%= link_to email.subject, email %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="archived" data-role="collapsible">
    <h3>Archived (<%= @emails[:archived].size %>)</h3>
    <table data-role="table" data-mode="reflow" id="archived-table" class="emails-list ui-responsive">
      <thead>
      <tr>
        <th>Date</th>
        <th>From</th>
        <th>Subject</th>
      </tr>
      </thead>

      <tbody>
      <% @emails[:archived].each do |email| %>
          <tr>
            <td><%= email.friendly_date %></td>
            <td><%= email.from %></td>
            <td><%= link_to email.subject, email %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="unknown" data-role="collapsible">
    <h3>Unknown (<%= @emails[:unknown].size %>)</h3>
    <table data-role="table" data-mode="reflow" id="unknowns-table" class="emails-list ui-responsive">
      <thead>
      <tr>
        <th data-priority="1">Date</th>
        <th>From</th>
      </tr>
      </thead>

      <tbody>
      <% @emails[:unknown].each do |email| %>
          <tr>
            <td><%= email.friendly_date %></td>
            <td><%= email.from %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
