<%= render 'layouts/top_bar' %>
<br/>

<script>
    $(document).ready(function () {
        var $email_text_elem = $('#email_text');
        $email_text_elem.html($email_text_elem.html().replace(/\n\r?/g, '<br />'));
        var $date_elem = $('#date');
        var date = new Date(parseInt($date_elem.text()) * 1000);
        $date_elem.text(date.toLocaleString());
    });
</script>

<div class="row">
  <ul class="button-group round">
    <% unless @email.sent %>
        <li><%= link_to 'Reply', reply_email_path, :class => 'button' %></li>
        <% unless @email.archived %>
            <li><%= link_to 'Archive', archive_email_path, {:class => 'button'} %></li>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="row">
  <p>
    <strong>Date:</strong>
    <span id="date"><%= @email.date %></span>
  </p>
</div>

<div class="row">
  <p>
    <strong>To:</strong>
    <%= @email.to %>
  </p>
</div>

<div class="row">
  <p>
    <strong>From:</strong>
    <%= @email.from %>
  </p>
</div>

<div class="row">
  <p>
    <strong>Subject:</strong>
    <%= @email.subject %>
  </p>
</div>

<div class="row">
  <p id="email_text">
    <%= raw @email.text(:show_warnings => true) %>
  </p>
</div>


