<script>
    $(document).ready( function () {
        email_text_elem = $('#email_text');
        email_text_elem.html(email_text_elem.text().replace(/\n\r?/g, '<br />'));
        console.log(email_text_elem.text());
    } );
</script>

<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @email.from %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @email.subject %>
</p>

<p id="email_text">
  <%= @email.text %>
</p>

<%= link_to 'Back', emails_path %>


