<div>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <% if params[:controller] == 'emails' && params[:action] == 'index' %>
          <div class="show-for-medium-down">
            <li class="name left-off-canvas-toggle">
              <h1><a href="#">Mailboxes</a></h1>
            </li>
          </div>
      <% end %>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <% if user_signed_in? %>
            <% if params[:controller] == 'emails' && params[:action] == 'index' %>
                <li><%= link_to 'Compose a message', new_email_path %></li>
            <% else %>
                <li><%= link_to "Home", '/' %></li>
                <li><%= link_to "Back", :back %></li>
            <% end %>
            <% if current_user.admin? && params[:controller] == 'emails' && params[:action] == 'index' %>
                <li><%= link_to "Approved Friends", friends_path %></li>
                <li><%= link_to "New User", new_registration_path(:user) %></li>
            <% end %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
