<div>
  <nav class="top-bar" data-topbar role="navigation">
    <% if user_signed_in? %>
        <ul id="main-buttons" class="button-group left">
          <% if params[:controller] == 'emails' && params[:action] == 'index' %>
              <li><%= link_to 'Compose a message', new_email_path, :class => 'button' %></li>
          <% else %>
              <li><%= link_to "Home", '/', :class => 'button' %></li>
              <li><%= link_to "Back", :back, :class => 'button' %></li>
          <% end %>
          <% if current_user.admin? && params[:controller] == 'emails' && params[:action] == 'index' %>
              <li><%= link_to "Approved Friends", friends_path, :class => 'button' %></li>
              <li><%= link_to "New User", new_registration_path(:user), :class => 'button' %></li>
          <% end %>
        </ul>
        <ul class="right">
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'button' %></li>
        </ul>
    <% end %>
  </nav>
</div>
