<!DOCTYPE html>
<html>
<head>
  <title>Hmail</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="jquery-ui.min.css">


</head>
<body>
<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
<%= link_to "Home", '/' unless params[:controller] == 'welcome' && params[:action] == 'index'%>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>

<script type="text/javascript" charset="utf8" src="jquery.js"></script>
<script type="text/javascript" charset="utf8" src="jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf8" src="jquery.blockUI.js"></script>

</body>
</html>
