<!DOCTYPE html>
<html>
<head>
  <title>Hamilton Mail</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
</head>

<body>
<div data-role="page">
  <div data-role="header">
    <h1>Hamilton Mail</h1>
    <% if user_signed_in? %>
        <% if notice %>
            <p style="color:green" class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
            <p style="color:red" class="alert alert-danger"><%= alert %></p>
        <% end %>
        <% unless params[:controller] == 'emails' && params[:action] == 'index' %>
            <%= link_to "Home", '/', :class => 'ui-btn ui-icon-home ui-btn-icon-notext' %>
            <%= link_to "Back", :back, :class => 'ui-btn ui-icon-back ui-btn-icon-notext' %>
        <% end %>
    <% end %>
  </div>

  <%= yield %>

  <div data-role="footer">
    <% if user_signed_in? %>
        <% if current_user.admin? && params[:controller] == 'emails' && params[:action] == 'index' %>
            <%= link_to "Approved Friends", friends_path %>
            <%= link_to "New User", new_registration_path(:user) %>
        <% end %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
</div>
</body>
</html>
