<!DOCTYPE html>
<html>
<head>
  <title>Hmail</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<div data-role="page">
  <div data-role="header">
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>

  <%= yield %>

  <div data-role="footer">
    <% if user_signed_in? %>
        <%= link_to "Home", '/' unless params[:controller] == 'welcome' && params[:action] == 'index' %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
</div>
</body>
</html>
